  

 <div class="container-fluid">
     <div class="col-8 mx-auto" id="whiteBox">
        <div class="row">
        <div class="col-6">
          <img src="images/shark.png" alt="shark pic"> 
        </div>
        <div class="col-6">
          <br>
          <br>
         <h2> Quarko Elementary </h2>
         <br>
         <h6 class="mx-auto"> Home of the Friendly Sharks! </h6>
        </div>
      </div>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="navBar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">  Class Syllabus <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Homework Assignments  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Tests/Quizzes</a>
      </li>
    </ul>
  </div>
</nav> 
        
  <br>
  <br>
  <div class="row">
      <div class="col-4">
        <img src="images/school.jpg" alt="school pic">
      </div>
      <div class="col-8 mx-auto" id="welcome">
          <h4> Welcome to the home page of Quarko Elementary! </h4>
          <br>
          <p class="elem"> Quarko Elementary is an exceptional school where all the elements of a postive learning environment come together to provide each student a unique opportunity to be their very best.</p>
          <br>
          <p class="elem"> Our stafff members are experienced and dedicated professional educators who are committed to creating an array of academics programs, activities and sports that offer many opportunities for our students to be and feel successful. </p> 
      </div>     
  </div>
  <br>
  <br>
  <br>
</div>
   
</div>